// LOGOTYPE

.logo {
  display: flex;
  align-items: center;

  &__text {
    font-family: $title-font;
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;

    color: $text-white;
    text-align: center;

    margin-left: 12px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

// TITLE

.section-title {
  font-family: $title-font;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;

  color: $title-white;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 60px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 100px;
  }
}

.section__title {
  margin-bottom: 48px;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
}

// TEXT

.text {
  font-family: $primary-font;

  font-weight: 500;
  font-size: 12px;
  line-height: 140%;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.text--black {
  color: $text-black;
}
