// FONTS

$primary-font: "Poppins", sans-serif;
$title-font: "Changa", sans-serif;

// COLORS

$white: #fffcfc;
$black: #030303;

$violet: #5559cf;
$pink: #f472b6;

// title

$title-white: #fffcfc;
$title-black: #030303;
$title-violet: #5559cf;

// text

$text-white: #fffcfc;
$text-black: #030303;
$text-violet: #5559cf;
$text-pink: #f472b6;
