// BUTTON

%button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60px;

  padding: 6px;
  border: 4px solid transparent;
  border-radius: 8px;

  font-weight: 900;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.button-white {
  @extend %button;

  color: $text-white;
  border-color: $white;

  &:hover,
  &:focus {
    color: $text-black;
    background-color: $white;
  }
}

.button-black {
  @extend %button;

  color: $text-black;
  border-color: $black;

  &:hover,
  &:focus {
    color: $text-white;
    background-color: $black;
  }
}

// BUTTON CARD

.button-card {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 40px;

  font-weight: 900;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;

  padding: 6px;
  border: 4px solid $black;
  border-radius: 8px;

  color: $text-black;

  @media screen and (min-width: 768px) {
    height: 60px;
    font-size: 14px;
  }

  &:hover,
  &:focus {
    color: $text-white;
    background-color: $black;
  }
}

// BUTTON TOGGLE

.button-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;

  width: 24px;
  height: 24px;

  border: solid 2px $violet;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  & span {
    position: relative;
    display: block;

    width: 12px;
    height: 2px;
    border-radius: 2px;

    background-color: $white;
    transition: all 0.3s;
  }

  &.active {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.button-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(2px, 1px);
}
.button-toggle.active span:nth-child(2) {
  display: none;
}
.button-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -1px);
}

// SWIPER BUTTON

.swiper-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// button arrows ----------

.swiper-navigation .swiper__arrows {
  display: none;

  @media screen and (min-width: 768px) {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    width: 180px;
  }

  @media screen and (min-width: 1440px) {
    gap: 24px;
    width: 240px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: block;
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  position: static;

  width: 40px;
  height: 40px;
  padding: 2px;

  border: 4px solid transparent;
  border-radius: 8px;
  margin: 0;

  background-image: none;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1440px) {
    width: 60px;
    height: 60px;
  }
}

// button text ----------

.swiper-pagination {
  position: static;

  display: flex;
  gap: 6px;

  font-family: $primary-font;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: $text-white;

  width: fit-content;

  @media screen and (min-width: 1440px) {
    font-size: 32px;
  }
}

// icon

.icon-prev {
  transform: rotate(-90deg);
}

.icon-next {
  transform: rotate(90deg);
}

.icon-open {
  transition-duration: 300ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
