// menu ----------

.menu {
	position: sticky;
	z-index: 100;
	top: 0;

	width: 100%;
	background-color: $black;
}

.menu__container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 80px;

	@media screen and (min-width: 768px) {
		height: 100px;
	}
}

// navigation ----------

.nav__list {
	display: none;

	@media screen and (min-width: 768px) {
		display: flex;
	}

	@media screen and (min-width: 1440px) {
		margin-left: 152px;
	}
}

.nav__item:not(:last-child) {
	margin-right: 6px;

	@media screen and (min-width: 768px) {
		margin-right: 12px;
	}

	@media screen and (min-width: 1440px) {
		margin-right: 24px;
	}
}

// navigation link ----------

.nav__link {
	font-family: $primary-font;
	font-weight: 500;
	font-size: 12px;
	line-height: 120%;

	text-transform: uppercase;
	color: $text-white;

	padding: 6px 12px;
	border-radius: 4px;

	@media screen and (min-width: 1200px) {
		font-size: 14px;
	}

	transition-property: color, background-color;

	&:hover,
	&:focus {
		color: $text-black;
		background-color: $white;
	}
}

// navigation button ----------

.button__menu {
	display: none;

	@media screen and (min-width: 768px) {
		display: flex;
		max-width: 186px;
		margin-left: 0px;
	}

	@media screen and (min-width: 768px) {
		max-width: 212px;
	}
}

.button__menu-mobile {
	margin-top: 60px;
}

// Mobile ----------

.menu-mobile {
	position: fixed;

	top: 80px;
	left: 0;

	z-index: 10;

	height: 100vh;
	width: 100%;
	background-color: $black;

	transform: translateY(-100%);

	transition-duration: 600ms;
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.menu-mobile.open {
	transform: translateY(0);
}

// navigation mobile ----------

.nav-mobile__list {
	margin-top: 60px;
}

.nav-mobile__link {
	font-family: $title-font;
	font-weight: 800;
	font-size: 48px;
	line-height: 120%;

	color: $white;
	text-transform: uppercase;

	padding: 6px 0px;

	&:hover,
	&:focus {
		color: $violet;
	}
}

// navigation button mobile ----------

.button__menu-mobile {
	margin-top: 60px;
}

// footer menu ----------

.footer {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 80px;

	background-color: $black;

	@media screen and (min-width: 768px) {
		height: 100px;
	}
}

.footer-nav__list {
	display: flex;
}
