// roadmap mobile ----------

.roadmap__list-mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }

  .roadmap__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

// roadmap ----------

.swiper-roadmap {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

// roadmap header ----------

.roadmap-card__header {
  @extend %card;
  position: relative;
  z-index: 5;

  display: flex;
  flex-direction: column;
  gap: 48px;

  min-height: 245px;
  background-color: $white;

  @media screen and (min-width: 768px) {
    min-height: 280px;
  }

  @media screen and (min-width: 1440px) {
    min-height: 475px;
    gap: 60px;
  }
}

.roadmap-card__body {
  width: 100%;
  min-height: 205px;

  padding: 64px 48px 48px 48px;
  border-radius: 0px 0px 8px 8px;
  background-color: $violet;

  margin-top: -16px;

  @media screen and (min-width: 768px) {
    min-height: 225px;
    border-radius: 0px 0px 12px 12px;
  }

  @media screen and (min-width: 1440px) {
    min-height: 205px;
    padding: 76px 118px 60px 118px;
  }
}
